@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<BookTemplate.Models.Book>
<main>
    <div id="modal_full" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="card">
                    <div class="card-header">
                        <h6 class="mb-0">Create</h6>
                    </div>
                    <div class="card-body">
                        <form action="~/Home/Create" method="post" class="needs-validation" novalidate>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="id">Id:</label>
                                    <input type="text" id="id" name="Id" class="form-control" required placeholder="Vui lòng nhập Id">
                                    <div class="invalid-feedback">Invalid feedback</div>
                                    <div class="valid-feedback">Valid feedback</div>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="id">Name Book:</label>
                                    <input type="text" id="name" name="BookName" class="form-control" required placeholder="Vui lòng nhập tên sách">
                                    <div class="invalid-feedback">Invalid feedback</div>
                                    <div class="valid-feedback">Valid feedback</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="type">Type:</label>
                                    <select name="Type" id="type" class="form-select" required>
                                        <option value="">-- Chose type --</option>
                                        <option value="Tieu Thuyet">Tieu Thuyet</option>
                                        <option value="Kinh di">Kinh di</option>
                                        <option value="Manga">Manga</option>
                                        <option value="Hai kich">Hai kich</option>
                                    </select>
                                    <div class="invalid-feedback">Invalid feedback</div>
                                    <div class="valid-feedback">Valid feedback</div>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="price">Pricce:</label>
                                    <input id="price" name="Price" class="form-control" required placeholder="Vui lòng nhập giá">
                                    <div class="invalid-feedback">Invalid feedback</div>
                                    <div class="valid-feedback">Valid feedback</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="date">Date:</label>
                                    <input type="date" id="date" name="Date" class="form-control" required placeholder="Vui lòng nhập chọn ngày thêm ">
                                    <div class="invalid-feedback">Invalid feedback</div>
                                    <div class="valid-feedback">Valid feedback</div>
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="condition">Condition</label>
                                    <div>
                                        <label class="form-check">
                                            <input type="checkbox" name="condition" value="New" class="form-check-input" required />
                                            <span class="form-check-label">New</span>
                                        </label>
                                        <label class="form-check">
                                            <input type="checkbox" name="condition" value="Seccond hand" class="form-check-input" required/>
                                            <span class="form-check-label">Seccondhand</span>
                                        </label>
                                        <label class="form-check">
                                            <input type="checkbox" name="condition" value="No box" class="form-check-input" required/>
                                            <span class="form-check-label">No Box</span>
                                        </label>
                                        <label class="form-check">
                                            <input type="checkbox" name="condition" value="rách một ít" class="form-check-input" required/>
                                            <span class="form-check-label">rách một ít</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">

                                <button type="submit" class="btn btn-primary ms-3">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_full">Create <i class="ph-play-circle ms-2"></i></button>
    <h2>Index</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Date</th>
            <th>Seccond hand</th>
        </tr>
        @{foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.BookName</td>
                    <td>@item.Type</td>
                    <td>@item.Price</td>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>
                        @foreach (var cb in item.Condition)
                        {
                            @(cb + ", ")
                        }
                    </td>
                </tr>
            }
        }
    </table>
</main>